{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./include"}
]}.
{deps, [
    sync,
    {lager, {git, "https://github.com/erlang-lager/lager", {branch, "master"}}},
    {eredis, "1.*", {git, "https://github.com/wooga/eredis.git", {branch, "master"}}},
    {poolboy, "1.5.*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}}
]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [lager,eredis_drive]}
]}.

{dist_node, [
    {setcookie, 'abc'},
    {name, 'eredis@127.0.0.1'},
    {boot, start_sasl}
]}.